@model LibraryWebApplication1.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Article Details</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.ArticleId</dd>

            <dt class="col-sm-2">Name:</dt>
            <dd class="col-sm-10">@Model.ArticleName</dd>

            <dt class="col-sm-2">Author username:</dt>
            <dd class="col-sm-10">@Model.Author.Username</dd>

            <dt class="col-sm-2">Category name:</dt>
            <dd class="col-sm-10">@Model.CategoryNavigation.Name</dd>

            <dt class="col-sm-2">Publish date:</dt>
            <dd class="col-sm-10">@Model.PublishDate</dd>

            <dt class="col-sm-2">Text - path to the file:</dt>
            <dd class="col-sm-10">@Model.Text</dd>
        </dl>
        <hr />

        <button class="btn btn-primary download-file-btn" data-path="@Model.Text">Download article</button>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var downloadButtons = document.querySelectorAll('.download-file-btn');
                downloadButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var url = this.getAttribute('data-path');
                        var anchor = document.createElement('a');
                        anchor.href = url;
                        anchor.target = '_blank';
                        anchor.download = url.substring(url.lastIndexOf('/') + 1);
                        document.body.appendChild(anchor);
                        anchor.click();
                        document.body.removeChild(anchor);
                    });
                });
            });
        </script>
        <a asp-area="" asp-controller="Categories" asp-action="Index" class="btn btn-primary download-file-btn">Back to List</a>
    </div>
</div>