@model LibraryWebApplication1.Models.User

@{
    ViewData["Title"] = "User Details";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Details</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.UserId</dd>

            <dt class="col-sm-2">Username:</dt>
            <dd class="col-sm-10">@Model.Username</dd>

            <dt class="col-sm-2">Latitude:</dt>
            <dd class="col-sm-10">@Model.Latitude</dd>

            <dt class="col-sm-2">Longtitude:</dt>
            <dd class="col-sm-10">@Model.Longtitude</dd>

            <dt class="col-sm-2">Profile Photo:</dt>
            <dd class="col-sm-10">
                @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
                {
                    <img src="@Model.ProfilePhoto" alt="Profile Photo" class="img-thumbnail" style="max-width: 100px;" />
                    <br />
                }
                else
                {
                    <p>Profile photo not found.</p>
                }
            </dd>
        </dl>
        <hr />

        @if (Model.Articles.Any())
        {
            <h5>Articles of this User:</h5>
            <ul>
                @foreach (var article in Model.Articles)
                {
                    <li>
                        <strong>@article.ArticleName</strong> - ID: @article.ArticleId - Category: @article.CategoryNavigation.Name - Publish Date: @article.PublishDate
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No articles found for this user.</p>
        }

        <button class="btn btn-primary download-file-btn" data-path="@Url.Content(Model.ProfilePhoto)">Download File</button>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var downloadButtons = document.querySelectorAll('.download-file-btn');

        downloadButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var url = this.getAttribute('data-path');

                var anchor = document.createElement('a');
                anchor.href = url;
                anchor.target = '_blank';
                anchor.download = url.substring(url.lastIndexOf('/') + 1);
                document.body.appendChild(anchor);
                anchor.click();
                document.body.removeChild(anchor);
            });
        });
    });
</script>
