@using LibraryWebApplication1.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Users</h1>

<p>
    <a asp-action="Create">Create New User</a>
</p>
<p>
    <a asp-action="UsersMap">Locations of users</a>
</p>
<div class="search-container">
    <label for="username-autocomplete">Search User:</label>
    <input type="text" id="username-autocomplete" />
    <button id="go-to-details" class="btn btn-primary">View</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Password)</th>
            <th>@Html.DisplayNameFor(model => model.Latitude)</th>
            <th>@Html.DisplayNameFor(model => model.Longtitude)</th>
            <th class="profile-photo-header">Profile Photo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Password)</td>
                <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                <td>@Html.DisplayFor(modelItem => item.Longtitude)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ProfilePhoto))
                    {
                        string fileName = System.IO.Path.GetFileName(item.ProfilePhoto);
                        <div class="button-container">
                            <button class="download-file-btn" data-path="@Url.Content(item.ProfilePhoto)">Download to PC</button>
                            <button class="upload-to-drive-btn" data-path="@Url.Content(item.ProfilePhoto)">Upload to Google Drive</button>
                        </div>
                    }
                    else
                    {
                        <span>No profile photo uploaded</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>

    .table {
        padding-top: 100px;
        gap: 100px;
    }
    .button-container {
        display: flex;
        gap: 10px;
    }

    .download-file-btn, .google-drive-btn {
        display: inline-block;
    }

    .profile-photo-header {
        padding-left: 10px;
    }

    .ui-autocomplete {
        max-height: 200px; 
        width: 300px; 
        overflow-y: auto; 
        overflow-x: hidden; 
        z-index: 1000; 
    }

    .ui-menu-item {
        padding: 5px 10px;
    }

    .search-container {
        margin-bottom: 20px; 
    }
</style>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script type="text/javascript">
        const CLIENT_ID = '442811446791-2dcorh1j55srk6jld9c2ck3kppckdgvr.apps.googleusercontent.com';
        const API_KEY = 'AIzaSyDsSjQTm_-UsRR9eDD2TzKFHhZeolI02Vg';
        const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';
        const SCOPES = 'https://www.googleapis.com/auth/drive.file';

        let tokenClient;
        let gapiInited = false;
        let gisInited = false;

        function gapiLoaded() {
            gapi.load('client', initializeGapiClient);
        }

        async function initializeGapiClient() {
            await gapi.client.init({
                apiKey: API_KEY,
                discoveryDocs: [DISCOVERY_DOC],
            });
            gapiInited = true;
            maybeEnableButtons();
        }

        function gisLoaded() {
            tokenClient = google.accounts.oauth2.initTokenClient({
                client_id: CLIENT_ID,
                scope: SCOPES,
                callback: handleTokenResponse,
            });
            gisInited = true;
        }

        document.addEventListener('DOMContentLoaded', function () {
            gapiLoaded();
            gisLoaded();

            var uploadButtons = document.querySelectorAll('.upload-to-drive-btn');
            uploadButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    handleAuthClick(() => {
                        var filePath = this.getAttribute('data-path');
                        uploadFileToGoogleDrive(filePath);
                    });
                });
            });
        });

        function handleAuthClick(callback) {
            if (gapi.client.getToken() === null) {
                tokenClient.requestAccessToken({ prompt: 'consent' });
            } else {
                callback();
            }
        }

        function handleTokenResponse(resp) {
            if (resp.error) {
                console.error("Error during token request: ", resp.error);
                return;
            }
            gapi.client.setToken({ access_token: resp.access_token });
            alert('Entered Google Account successfully! Now you can upload files from the app to your Google Drive!');
        }

        async function uploadFileToGoogleDrive(filePath) {
            try {
                const fileName = filePath.substring(filePath.lastIndexOf('/') + 1);
                const response = await fetch(filePath);
                const fileBlob = await response.blob();

                const metadata = {
                    name: fileName,
                    mimeType: fileBlob.type
                };

                const formData = new FormData();
                formData.append('metadata', new Blob([JSON.stringify(metadata)], { type: 'application/json' }));
                formData.append('file', fileBlob);

                const uploadResponse = await fetch('https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart', {
                    method: 'POST',
                    headers: new Headers({
                        'Authorization': `Bearer ${gapi.client.getToken().access_token}`,
                    }),
                    body: formData
                });

                const result = await uploadResponse.json();
                if (uploadResponse.ok) {
                    alert(`File uploaded successfully! File ID: ${result.id}`);
                } else {
                    alert(`Error uploading file: ${result.error.message}`);
                }
            } catch (error) {
                console.error("Error during file upload:", error);
                alert("Failed to upload file.");
            }
        }
    </script>
    

    <script type="text/javascript">
        console.log('Google Charts library loaded:', typeof google !== 'undefined');
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
            console.log('Google Charts library loaded, drawChart function called');
                                $.get('/api/Chart/ArticlesByUsers', function(ArticlesByUsers) {
                console.log(ArticlesByUsers);
                            data = google.visualization.arrayToDataTable(ArticlesByUsers, false);
                        var option = {
                            title: "Співвідношення кількості статей та користувачів",
                            width: 500,
                            height: 400
                        };
                        chart = new google.visualization.PieChart(document.getElementById('chart2'));
                        chart.draw(data, option);
                    })
                }
            </script>

    <script>
        $(function () {
            $("#username-autocomplete").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetAutocompleteData", "Users")',
                        data: { term: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.username,
                                    value: item.username,
                                    userId: item.userId
                                };
                            }));
                        },
                        error: function (xhr, status, error) {
                            console.error("Error occurred:", status, error);
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $("#username-autocomplete").data("selected-user-id", ui.item.userId);
                }
            });

            $("#go-to-details").on("click", function () {
                var selectedUserId = $("#username-autocomplete").data("selected-user-id");
                if (selectedUserId) {
                    window.location.href = '@Url.Action("Details", "Users")/' + selectedUserId;
                } else {
                    alert("Please select a user from the dropdown.");
                }
            });
        });
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var downloadButtons = document.querySelectorAll('.download-file-btn');

        downloadButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var url = this.getAttribute('data-path');

                var anchor = document.createElement('a');
                anchor.href = url;
                anchor.target = '_blank';
                anchor.download = url.substring(url.lastIndexOf('/') + 1);
                document.body.appendChild(anchor);
                anchor.click();
                document.body.removeChild(anchor);
            });
        });
    });
</script>
}